* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html body {
  height: 100%;
}
.item-boder {
  border: 4px solid #101010;
  width: 50rem;
  margin: 50px auto;
  position: relative;
}
.sale {
  background-color: red;
  padding: 7px 15px;
  letter-spacing: 2px;
  position: absolute;
  top: -14px;
  left: -23px;
  font-weight: bold;
  color: #f7f7f7;
  font-size: 13px;
}
.colors {
  margin-top: 1rem;
}
.item-colors1 {
  display: inline-block;
  background-color: #101010;
  width: 26px;
  height: 24px;
  margin-right: 10px;
}
.item-colors2 {
  display: inline-block;
  background-color: #317a59;
  width: 26px;
  height: 24px;
  margin-right: 10px;
}
.item-colors3 {
  display: inline-block;
  background-color: #ba0e0e;
  width: 26px;
  height: 24px;
  margin-right: 10px;
}
.item-colors4 {
  display: inline-block;
  background-color: #32179f;
  width: 26px;
  height: 24px;
  margin-right: 10px;
}
.item-colors5 {
  display: inline-block;
  background-color: #c3712a;
  width: 26px;
  height: 24px;
  margin-right: 10px;
}
.item-colors6 {
  display: inline-block;
  background-color: #2cbb84;
  width: 26px;
  height: 24px;
  margin-right: 10px;
}

.item-name {
  color: black;
  font-size: 23px;
  text-align: center;
  padding: 15px;
  background-color: #f7f7f7;
}
.item-image {
  width: 17rem;
  height: 16rem;
  float: left;
}
.item-price {
  font-size: 25px;
  color: black;
  float: left;
}
.item-status {
  color: #7a7979;
  float: right;
  padding-top: 5px;
}
.item-discription {
  font-size: 18px;
  margin-top: 36px;
  color: #101010;
}
.item-info,
.item-list {
  color: #101010;
}
.item-details {
  font-size: 27px;
  font-weight: bold;
  margin-left: 1rem;
}
.item-list {
  padding-left: 2rem;
  font-weight: 400;
  font-size: 17px;
  line-height: 1cm;
}
.click-card {
  color: #f7f7f7;
  font-weight: bolder;
  font-size: 20px;
  background-color: #101010;
  padding: 10px;
  width: 100%;
  text-align: center;
  border-top: 4px solid #101010;
}
.click-card:hover {
  background-color: #f7f7f7;
  color: #101010;
}

.flotside {
  float: left;
  width: 15rem;
  height: 16rem;
  margin-left: 2rem;
}

.itemdata {
  float: right;
  width: 15rem;
  height: 16rem;
}
